<div class="description">
  <h1>asteroid.js</h1>
  <p>Press space to avoid the oncoming asteroids!</p>
  <p class="light">Made by johansenja</p>
  <ul class="light">
    <a href="https://github.com/johansenja"><li><i class="fab fa-github"></i></li></a>
    <a href="https://www.linkedin.com/in/johansenja/"><li><i class="fab fa-linkedin"></i></li></a>
  </ul>
    <div class="flex-area">
      <p><strong>Leaderboard (top 10):</strong></p>
      <p><strong>Recent:</strong></p>
    </div>
  <div class="flex-area">
    <ul>
      <% @scores.each do |score| %>
        <li class="highscore"><%= "#{score.name} | #{score.score}" %></li>
      <% end %>
    </ul>
    <ul>
      <% @recents.each do |score| %>
        <li class="highscore"><%= "#{score.name} | #{score.score}" %></li>
      <% end %>
    </ul>
  </div>
  <h2>Submit score</h2>
  <%= simple_form_for @score, url: scores_path, method: :post do |f| %>
      <%= f.input :name, label: 'Name (15 characters max)' %>
      <%= f.input :score, as: :hidden, input_html: {id: "score"} %>
      <%= f.submit "Submit Score" %>
  <% end %>
</div>
