<!DOCTYPE html>
<html>
  <head>
    <title>asteroid.js</title>
    <meta name="description" content="Press space to avoid the oncoming asteroids! Made by johansenja">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:title" content="Press space to avoid the oncoming asteroids! Made by johansenja">
    <meta property="og:image" content="https://res.cloudinary.com/datpeem3j/image/upload/v1541962328/a.png">
    <meta property="og:description" content="Press space to avoid the oncoming asteroids! Made by johansenja">
    <meta property="og:site_name" content="asteroid.js">
    <meta name="twitter:title" content="asteroid.js">
    <meta name="twitter:description" content="Press space to avoid the oncoming asteroids! Made by johansenja">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
